USE DataServer
GO
SELECT st.SYSTEMID,st.SEQ,st.CASHIERID,st.EVENTTIME
	  ,st.EVENTCODE,st.[EVENTDATA],ev.EVENTCONTENT
FROM SYSLOG st
LEFT OUTER JOIN [EVENTS] ev ON ev.EVENTCODE = st.EVENTCODE and ev.EVENTLENG = 1
WHERE st.EVENTTIME between '20201013114543' and '20201013225543' 
and st.SAREAID = 2 and st.SYSTEMID = 22
ORDER BY st.SEQ