UPDATE [certificate_db].[dbo].[certificate]
   SET [cert_value] = 3000
  WHERE ([cert_key] = 'qzxeusXQp4m5sYq')
OR ([cert_key] = 'vy5jkyLEUU75NGT')
GO

UPDATE [certificate_db].[dbo].[certificate]
   SET [cert_value] = 5000
  WHERE ([cert_key] = 'pMhhcFB5dWU7BuN')
OR ([cert_key] = 'wwrqraM4Cu4BmrY')
GO

UPDATE [certificate_db].[dbo].[certificate]
   SET [cert_value] = 7000
  WHERE ([cert_key] = '8nL7wQckvw9GuGK')
OR ([cert_key] = 'AVxmrLF6m3yE8dj')
GO

UPDATE [certificate_db].[dbo].[certificate]
   SET [cert_value] = 10000
  WHERE ([cert_key] = '7ECZ4abqhHy7vwb')
OR ([cert_key] = 'h9N5V5HBJV58xTN')
GO