SELECT [cert_key]
      ,[cert_value]
      ,[is_lock]
  FROM [certificate_db].[dbo].[certificate]
  WHERE ([cert_key] = 'qzxeusXQp4m5sYq')
OR ([cert_key] = 'vy5jkyLEUU75NGT')
OR ([cert_key] = 'pMhhcFB5dWU7BuN')
OR ([cert_key] = 'wwrqraM4Cu4BmrY')
OR ([cert_key] = '8nL7wQckvw9GuGK')
OR ([cert_key] = 'AVxmrLF6m3yE8dj')
OR ([cert_key] = '7ECZ4abqhHy7vwb')
OR ([cert_key] = 'h9N5V5HBJV58xTN')
ORDER BY [cert_value]

